page {
    // background-color: $u-bg-color;
    font-size: 28rpx;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: theme('fontFamily.sans')
    //font-family: PingFang SC;
}
.empty{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.empty_text{
		margin: 20rpx 0;
		width: 494rpx;
		height: 60rpx;
		font-family: Arial;
		font-weight: 400;
		font-size: 24rpx;
		text-align: center;
		line-height: 60rpx;
		color: #F0F0F0;
		border-radius: 12rpx;
		background: #C3C6CB;
	}
	.empty_popup{
		margin-top: 20rpx 0;
		width: 494rpx;
		height: 60rpx;
		font-family: Arial;
		font-weight: 400;
		font-size: 24rpx;
		text-align: center;
		line-height: 60rpx;
		color: #F0F0F0;
		border-radius: 12rpx;
	}
}

uni-modal {
    z-index: 999999 !important;
}

button::after {
    border: initial;
}
